/* Google font link font family  */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Staatliches&family=Ysabeau+SC:wght@100;300;500;600;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Ysabeau SC', sans-serif;
}

/* main css start  */

:root{
    --bg-color: #E02C6D;
     
}

/* header section start  */

header{
     max-width: 1800px;
     margin: 0 auto;
     padding: 30px;
     

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
     
    
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 25px;
}
nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #3A3A3A;
}
nav span{
     margin-right: 25px;
     line-height: -10px;
     font-size: 1.4rem;
     display: inline-block;
     font-weight: 400;
     line-height: -15px;
     color: var(--bg-color);
}
nav h1 {
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.span-tag{
    color: #E02C6D;
    font-weight: 700;
}
 
 
 nav span:nth-child(2){
    margin-right: 0px;
 }
/* main section start  */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* BANNER SECTION START CSS  */

.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    /* background: linear-gradient(50deg, red ,blue,green); */
    
}
.banner-text{
    width: 583px;
}
.banner-text h1{
    font-size: 3rem;
}
.banner-text p{
    font-size: 1.3rem;
    color: #3A3A3A;
}
.btn-primary{
    border: none;
    padding: 10px 22px;
    font-size: 1.2rem;
    background: #E02C6D;
    margin-top: 20px;
    border-radius: 40px;
    color: white;
    border: 1px solid #E02C6D;
}
.banner-text span{
    margin-left: 5px;
    font-size: 1rem;
}
.btn-primary:hover{
    background: #fffbfb;
    color: #E02C6D;
    transition: all .4s;
    border: 1px solid #E02C6D;
    
}
 
.banner-img img{
    background-image: url(images/Circle\ design.svg);
    
}
 
/* LOGO SECTION CSS  */
.logo-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.064);
}

/* COLLACTION SECTION CSS  */

.collection-section{
    text-align: center;
    margin-top: 135px;
    
}
.collection-section h1{
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}
.collection-content{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    justify-content: center;
    gap: 30px;
    
}
.collection-item strong{
    display: block;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 7px;
}
.collection-item{
    padding: 20px 0 20px 0px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.092);
    border-radius: 5px;
}
.collection-item p{
    width: 300px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    
    color: #787885;
}
.collection-item b{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
}
.star span{
    color: #FB8200;
    margin-top: 10px;
}
.collection-item img:hover{
    transform: scale(1.1) ;
    transition: all .5s;
    
}
.btn{
    background: transparent;
    color: #E02C6D;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    width: 100%;
    text-align: right;
     display: block;
    margin-left: -150px;
    margin-top: 40px;
    font-weight: 700;
}
.btn:hover{
    letter-spacing: 1px;
    transition:  all .4s;
}
.btn span{
    font-size: 1rem;
    margin-left: 5px;
    border: none;
    border-radius: 0;
}


/* FUTURE SECTION START  */

.future-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin-top: 140px;

}
.future-text h1{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    width: 500px;
}
.future-text p{
    width: 500px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #6C6C6C;
}
.future-text span{
    font-size: 1rem;
    font-weight: 200;
    margin-left: 9px;
}
 

/* FOOTER SECTION CSS START */

.footer-section{
    width: 100%;
    background-color: #001e2f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 100px;
}
.footer-content{
    color: white;
    text-align: center;
    padding: 20px;
   
}
.footer-content strong{
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.footer-content span{
    font-size: 1.2rem;
    margin-right: 20px;
}
.footer-content span:hover{
    color: #E02C6D;
    transition: all .4s;
}

/* FINISHED  */